.closeButton{
    opacity: 0;
    width: 25px;
    border: none;
    background-color: #c0392b;
    color: #fff;
    position: absolute;
    left: -30px;
    transition: .5s;
}
.transaction-item:hover .closeButton{
    opacity: 1;
}
.editButton{
    width: 25px;
    height: 25px;
    position: absolute;
    right: -35px;
}